#container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

@media (max-width: 1200px) {
    body {
        background-color: rgb(155, 134, 102);
    }
}