* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-gap: 30px;
    background-image: url('/img/plants.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 60%;
}

h1 {
    color: white;
}

body {
    overflow-y: hidden;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.material-icons {
    color: #199419 !important;
}

@media(min-width: 1200px) {
    .navbar {
        overflow: hidden;
        background-color: black;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .navbar a {
        float: right;
        display: block;
        text-align: center;
        padding: 30px 30px;
        text-decoration: none;
        font-size: 20px;
        margin-left: 8px;
        color: white;
    }
    .ima {
        display: block;
        width: 350px;
        height: 200px;
        box-shadow: 10px 10px 5px black;
    }
    .btn {
        background: none;
        color: white;
        border: none;
        margin-left: 10px;
        font-size: 15px;
    }
    .one {
        margin-top: 100px;
        margin-bottom: 75px;
    }
    .two>h1 {
        margin-left: 4px;
    }
    .two {
        font-size: 18px;
        margin-bottom: 50px;
    }
    .three>h1 {
        margin-left: 4px;
    }
    .three {
        font-size: 18px;
    }
    .btn {
        background: none;
        color: white;
        border: none;
        margin-left: 10px;
    }
}

@media (max-width: 896px) {
    #container {
        background-position: -63px;
    }
    body {
        overflow-y: hidden;
    }
    .ima {
        width: 100%;
        height: auto;
    }
    .navbar {
        overflow: hidden;
        background-color: black;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .slider {
        width: 100%;
        height: 240px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
    .slide {
        flex-shrink: 0;
        width: 100%;
        flex-shrink: 0;
        height: 240px;
        overflow-y: hidden;
    }
    .slider>div {
        scroll-snap-align: start;
    }
    .navbar a {
        float: left;
        display: block;
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
        font-size: 13px;
        margin-left: 8px;
        color: white;
    }
    .one {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .two>h1 {
        margin-left: 1px;
    }
    .two {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .three>h1 {
        margin-left: 1px;
    }
    .three {
        font-size: 12px;
    }
    .btn {
        background: none;
        color: white;
        border: none;
        margin-left: 10px;
    }
}