* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#container {
    display: grid;
    grid-template-rows: repeat(7, auto);
    background-image: url('../img/plants.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 60%;
    z-index: -1;
}

h1 {
    color: white;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

@media(min-width: 415px) and (max-width:2000px) {
    #container {
        background-position: center;
        overflow-y: hidden;
    }
    .slide {
        float: left;
        width: 20%;
        padding: 5px;
    }
    .slider::after {
        content: "";
        clear: both;
        display: table;
    }
    .ima1 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima2 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima3 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima4 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima5 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima6 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima7 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima8 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima9 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .ima10 {
        display: block;
        max-width: 100%;
        max-height: 10%;
        box-shadow: 10px 10px 5px black;
    }
    .btn {
        background: none;
        color: white !important;
        border: none;
        margin-left: 10px;
        font-size: 15px;
    }
    .one {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    .two>h1 {
        margin-left: 4px;
        font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    .two {
        margin-bottom: 15px;
    }
    .three>h1 {
        margin-left: 4px;
        font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
    .btn {
        background: none;
        color: white !important;
        border: none;
        margin-left: 10px;
        font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }
}

@media (max-width: 414px) {
    #container {
        background-position: center;
    }
    /*Popular restaurant images*/
    .ima1 {
        transform: translateY(-80px);
        max-width: 100%;
        max-height: auto;
    }
    .ima2 {
        transform: translateY(-80px);
        width: 100%;
        height: auto;
    }
    .ima3 {
        transform: translateY(-80px);
        width: 100%;
        height: auto;
    }
    .ima4 {
        transform: translateY(-80px);
        width: 100%;
        height: auto;
    }
    .ima5 {
        transform: translateY(-80px);
        width: 100%;
        height: auto;
    }
    /*Popular recipes images*/
    .ima6 {
        transform: translateY(-80px);
        width: 100%;
        height: auto;
    }
    .ima7 {
        transform: translateY(-80px);
        width: 100%;
        height: auto;
    }
    .ima8 {
        transform: translateY(-80px);
        max-width: 100%;
        height: auto;
    }
    .ima9 {
        transform: translateY(-80px);
        max-width: 100%;
        height: auto;
    }
    .ima10 {
        transform: translateY(-80px);
        max-width: 100%;
        height: auto;
    }
    .slider {
        max-width: 100%;
        height: 240px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }
    .slide {
        flex-shrink: 0;
        max-width: 100%;
        flex-shrink: 0;
        height: 240px;
        overflow-y: hidden;
    }
    .slider>div {
        scroll-snap-align: start;
    }
    .one {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .two>h1 {
        margin-left: 1px;
        font-size: 20px;
    }
    .two {
        font-size: 12px;
        margin-bottom: 50px;
    }
    .three>h1 {
        margin-left: 1px;
        font-size: 20px;
    }
    .btn {
        background: none;
        color: white !important;
        border: none;
        margin-left: 6px;
    }
}

@media(max-width: 415px) {
    #picProfile {
        height: 12vw;
    }
}