* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: black !important;
}

#container {
  display: grid;
  grid-template-rows: repeat(7, auto);
  z-index: -1;
  background-color: white;
  color: black;
}

h1 {
  color: white;
}

@media (min-width: 415px) and (max-width: 2000px) {
  #container {
    background-position: center;
    overflow-y: hidden;
  }
  .slide {
    float: left;
    width: 20%;
    padding: 5px;
  }
  .slider::after {
    content: "";
    clear: both;
    display: table;
  }
  .ima1 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima2 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima3 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima4 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima5 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima6 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima7 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima8 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima9 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .ima10 {
    display: block;
    max-width: 100%;
    max-height: 10%;
    box-shadow: 10px 10px 5px black;
  }
  .btn {
    background: none;
    color: black !important;
    border: none;
    margin-left: 10px;
    font-size: 15px;
  }
  .one {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  .two > h1 {
    margin-left: 4px;
    font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  .two {
    margin-bottom: 15px;
  }
  .three > h1 {
    margin-left: 4px;
    font-size: calc(18px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  .btn {
    background: none;
    color: white !important;
    border: none;
    margin-left: 10px;
    font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

@media (max-width: 415px) {
  /*Popular restaurant images*/
  .ima1 {
    transform: translateY(-80px);
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima2 {
    transform: translateY(-80px);
    border-radius: 25px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima3 {
    transform: translateY(-80px);
    border-radius: 25px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima4 {
    transform: translateY(-80px);
    border-radius: 25px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima5 {
    transform: translateY(-80px);
    border-radius: 25px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  /*Popular recipes images*/
  .ima6 {
    transform: translateY(-80px);
    border-radius: 25px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima7 {
    transform: translateY(-80px);
    border-radius: 25px;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima8 {
    transform: translateY(-80px);
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima9 {
    transform: translateY(-80px);
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .ima10 {
    transform: translateY(-80px);
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75));
  }
  .slider {
    max-width: 100%;
    height: 240px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .slide {
    flex-shrink: 0;
    max-width: 100%;
    flex-shrink: 0;
    height: 240px;
    overflow-y: hidden;
  }
  .slider > div {
    scroll-snap-align: start;
    counter-reset: item;
  }
  .one {
    text-align: left;
    margin-left: 19px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .two > h1 {
    text-align: left;
    margin-left: 19px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .two {
    margin-bottom: 25px;
  }
  .three > h1 {
    text-align: left;
    margin-left: 19px;
    /* margin-bottom: 10px; */
    font-size: 20px;
  }
  .btn {
    background: none;
    border: none;
    margin-left: 6px;
    font-size: 14px !important;
  }
}

@media (max-width: 415px) {
  .picProfile {
    height: 12vw !important;
  }
  footer {
    padding-bottom: 70px;
  }
}
