@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&family=Open+Sans:wght@300;400;500&display=swap');

html {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white; 
    
}

body {
    min-height: 100%;
}

#profileContainer {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height: auto;
    background-color: #86b386;
    z-index: -1;
}

#profile{
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
    background-color: #199419 !important;
    border: none !important;
    margin-right: 1px;
}

.btn-outline-primary {
    background-color: #5f985f !important;
    color: white !important;
    border: none !important;
    margin-right: 1px;
}

#checkOthers {
    background-color: #73bd73 !important;
}

#navbarContainer, #navbarContainerBottom{
    background-color: #e1f1e1 !important;
}

.material-icons {
    color: #199419;
}

#navbarBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#navbarBottomUl{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    
}

#picProfile{
    height: 4.5vw;
}

@media(min-width: 992px) {
    body {
        display: grid;
        grid-template-rows:10% 90%;
        grid-template-columns: 100%;
    }
    #profileContainer {
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        justify-self: center;
        align-self: center;
    }
}
@media(max-width: 414px) {
    #picProfile{
        height: 10vw;
    }
}
/* @media (min-width: 576px){
    body {
        display: grid;
        grid-template-rows:100%;
        grid-template-columns: 100%;
    }
} */