@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&family=Open+Sans:wght@300;400;500&display=swap');

html {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body {
    min-height: 100%;
}

#profileContainer {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
    height: auto;
    background-color: #86b386;
    z-index: -1;
}

#profile {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    justify-self: center;
    align-self: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #199419 !important;
    border: none !important;
    margin-right: 1px;
}

#navbarContainer,
#navbarContainerBottom {
    background-color: #e1f1e1 !important;
}

.material-icons {
    color: #199419;
}

#navbarBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navbarBottomUlUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

input#file-upload-button {
    background: #199419 !important;
}

#closeButton {
    border: none;
    background-color: transparent;
}

#userProfilePhoto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#userProfilePhoto img {
    border-radius: 50%;
    width: 150px;
}

#userProfilePhotoNavBarBot img {
    height: 10vw;
    border-radius: 50%;

}

#userProfilePhotoNavBarTop img {
    height: 7vw;
    border-radius: 50%;
}

footer {
    padding-top: 70px;
}

@media(min-width: 992px) {
    #profileContainer {
        margin-top: 120px;
    }
}

@media(max-width: 415px) {
    .picProfile {
        height: 12vw;
    }

    footer {
        padding-bottom: 70px;
    }
}