@media only screen and (max-width: 1200px) {
  body {
    background-color: white
  }
  .general {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
  }
  .rating {
    color: #86b386
  }
  #taco {
    max-width: 100%;
  }
  .servings-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px;
  }
  .control {
    display: grid;
    grid-template-columns: 30px 90px 30px;
    grid-template-rows: 30px;
    border: solid 1px black;
    align-items: center;
    justify-items: center;
    justify-self: right;
    width: 150px;
    color: #86b386;
    background-color: rgb(51, 49, 49);
  }
  #plus {
    cursor: pointer;
    color: #86b386
  }
  #minus {
    cursor: pointer;
    color: #86b386
  }
  #context {
    align-self: center;
  }
  /* ul li {
    background: white;
    color: #86b386;
    margin: 5px;
    list-style: none;
  }
  ol li {
    background: white;
    color: #86b386;
    margin: 5px;
  } */
}